.modalWrapper {
  /* position: relative; */
  /* top: 70px;
  bottom: 0;
  left: 0;
  right: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  min-width: 40rem;
  min-height: 25rem;
  top: 200px;
  z-index: 9999;
  background: white;
  border-radius: 0.375rem;
  /* animation: fadeInDown 0.8s; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
